<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start">
        <ion-back-button text="" style="margin-top: 1vh;"></ion-back-button>
    </ion-buttons>
    <h3 style="color:#E39A33;float: right;margin: 14px;" >  سُورَة لُقمَان</h3>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة لُقمَان الجُزء(1ـ5)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/H_AmVzoEMfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة لُقمَان الجُزء(6ـ10)</h4 >
    <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/tDWYPHI6-3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة لُقمَان الجُزء(11ـ14)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/feT2j6NaGks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة لُقمَان الجُزء(15ـ18)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/jYt7IeeZw2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة لُقمَان الجُزء(19ـ23)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/-2B-tp1e3K4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة لُقمَان الجُزء(24ـ27)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/fxGRgo4CvZE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة لُقمَان الجُزء(28ـ31)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/NI3eLVgoPhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة لُقمَان الجُزء(32ـ33)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/0wdNWGkDQqQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



</ion-content>

