<ion-header>
  
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start">
        <ion-back-button text="" style="margin-top: 1vh;"></ion-back-button>
    </ion-buttons>
    <h3 style="color:#E39A33;float: right;margin: 14px;">سُورَة النُّور</h3>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة النُّور الجُزء(1ـ5)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/71EPmn6rz90" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة النُّور الجُزء(6ـ10)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/CBGCZHlyIGs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة النُّور الجُزء(11ـ18)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/N4QA3zm9lLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة النُّور الجُزء(19ـ22)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/VwM-W4Z578A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة النُّور الجُزء(23ـ29)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/oovAqJaW5IE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة النُّور الجُزء(30ـ31)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/wNLH1603aLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة النُّور الجُزء(32ـ34)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/JLYz3c-sQgQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   <h4 class="soura" style="float: right;margin: 14px;">سُورَة النُّور الجُزء(35ـ37)</h4>
   <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/yhvsfFixFsg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-content>
