<ion-header style=" background-image: linear-gradient(to right, #ffeecc , #adebeb);">
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start">
        <ion-back-button text="" style="margin-top: 1vh;"></ion-back-button>
    </ion-buttons>
    <h3 style="color:#E39A33;font-size: 30px;">قرآن</h3>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div id="container">
<div class="row">
  <div class="col-md-12"><ion-button style="width: 55vh;height: 9vh;font-size: 27px;font-weight: 700;" color="success" (click)="nour()">سُورَة النُّور</ion-button></div>
</div>
<div class="row">
  <div class="col-md-12"><ion-button style="width: 55vh;height: 9vh;font-size: 27px;font-weight: 700;" color="success" (click)="rahmen()">سُورَة الرّحمَان</ion-button></div>
</div>
  <div class="col-md-12"><ion-button style="width: 55vh;height: 9vh;font-size: 27px;font-weight: 700;" color="success" (click)="lokmen()">سُورَة لُقمَان</ion-button></div>
</div>
</ion-content>
