<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start">
        <ion-back-button text="" style="margin-top: 1vh;"></ion-back-button>
    </ion-buttons>
    <h3 style="color: #E39A33;float: right;margin: 14px;" [routerLink]="['/quran']">  سُورَة الرّحمَان</h3>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة الرّحمَان(1ـ10)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/1vSV1TMCFxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة الرّحمَان(11ـ25)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/TYjju33rTDI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة الرّحمَان(26ـ43)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/CqiMZsFLPks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة الرّحمَان(44ـ59)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/TnzVCacErwU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">سُورَة الرّحمَان(60ـ77)</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/jSH57ntcdik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-content>