<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start">
        <ion-back-button text="" style="margin-top: 1vh;"></ion-back-button>
    </ion-buttons>
    <h3 style="color:#E39A33;float: right;margin: 14px;">(من صحيح البخاري) أحاديث نبويّة</h3>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 1</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/_ZOEeuSfLrY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 2</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/0oBXsnc3sHU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 3</h4>
  <iframe width="790" height="365" src="https://www.youtube.com/embed/GVIYafsRoRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 4</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/nMS0aFeuG9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 5</h4>
  <iframe height="230" style="width: 434px;width: 97%;border-radius: 10px;"src="https://www.youtube.com/embed/_jz7ly_CFUs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 6</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;"src="https://www.youtube.com/embed/JwrOmETxVOE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 7</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/tJPBVa2OBzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 8</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/7oUZMPFISpM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 9</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/TreAC9YgxjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 10</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/HdVb7pgvq70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 11</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/93dHEHHveLo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 12</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/ZnYtdg_b1pY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 13</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/Jlp1PaLrfz4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 14</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/8kR2w4n8pMM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 15</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/MByOoPsR2NM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 16</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/ePtguBcWxeg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 17</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/L23DbA_NQgI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="soura" style="float: right;margin: 14px;">الحديث 18</h4>
  <iframe  height="230" style="width: 434px;width: 97%;border-radius: 10px;" src="https://www.youtube.com/embed/csQFze3biOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</ion-content>
